<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.biz_live">

    <application>
        <activity android:name=".yunxin.live.audience.utils.DialogHelperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentBgTheme"/>
        <activity
            android:name=".yunxin.live.audience.ui.LiveAudienceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".yunxin.live.ui.LiveListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".yunxin.live.ui.LiveAnchorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>