<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.yunxin.nertc.user">

    <application>
        <activity
            android:name="com.netease.yunxin.nertc.demo.user.ui.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.netease.yunxin.nertc.demo.user.ui.VerifyCodeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
    </application>

</manifest>